<div
  id="main-content"
  style="
    margin-top: 59px;
    height: 512px;
    background-image: url(../../../assets/images/home-app.jpg);
    /* background: no-repeat; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 col-sm-12 row" style="padding: 180px">
        <div class="col-md-6 col-sm-12">
          <a
            routerLink="/home/users-list"
            class="btn btn-block btn-info"
            style="font-size: xx-large; color: white"
            >Utilisateurs</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
