/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';

.zoneselectwidth .mat-form-field-wrapper {
  padding-bottom: 1.25em;
  width: 11em !important;
}
.mat-snack-bar-container {
  background: rgba(255,255,255,0.8);
  color: #1f2540 !important;
  font-weight: bold;
  text-align: center;

}
.mat-snack-bar-container span{
  font-size: 16px !important;
}
