
<body class="theme-cyan">
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">

        <div class="top">
          <img src="assets/images/titre.png" alt="Lucid">
        </div>

        <div class="card">
          <div class="header">
            <p class="lead">Récupération de mot de passe</p>
          </div>
          <div class="body">
            <p>Veuillez entrer votre adresse email ci-dessous pour recevoir votre mot de passe.</p>
            <form class="form-auth-small" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">

                <input type="password" class="geoxyForm form-control" id="signup-email" matInput name="email" type="text" placeholder="Votre adresse email" formControlName="email">
                <div *ngIf="submitted && showErrorMsg.email?.errors && errorMsg" (click)="hideErrorMsg()">
                  <mat-hint *ngIf="showErrorMsg.email.errors.required" class="worningMsg">Email obligatoire</mat-hint>
                  <mat-hint *ngIf="showErrorMsg.email.errors.pattern" class="worningMsg">Email Invalid</mat-hint>
                </div>

              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>
              <div class="bottom">
                <span class="helper-text">Connaissez votre mot de passe? <a routerLink="/login">Login</a></span>
              </div>
            </form>
          </div>

          <div class="body" *ngIf="interfaceSaisiNouvPWD">
            <p>Rénitialiser mot de passe</p>
            <form class="form-auth-small" [formGroup]="confirmResetPasswordForm" (ngSubmit)="validateNewPwd()" *ngIf="!isLoading">
              <div class="form-group">

                <input type="password" class="geoxyForm form-control" id="signup-password" matInput name="nouvPassword" type="password" placeholder="Entrer mot de passe " formControlName="nouvPassword">
                <div *ngIf="isValidated && showErrorMsg.nouvPassword?.errors && errorMsg" class="worningMsg" (click)="hideErrorMsg()">
                  <mat-hint *ngIf="showErrorMsg.nouvPassword.errors.required">Mot de passe obligatoire</mat-hint>
                  <mat-hint *ngIf="showErrorMsg.nouvPassword.errors.minlength">Taille supérieur à 8 caractères
                  </mat-hint>
                </div>

                <input type="password" class="geoxyForm form-control" id="signup-password" matInput name="confirmPassword" type="password" placeholder="Confirmer mot de pass" formControlName="confirmPassword">
                <span matSuffix>
                                            <i class="material-icons red-info-circle" type="button"
                                               *ngIf="showErrorMsg.confirmPassword?.errors?.mustMatch" tabindex="-1" matTooltip="unmuched pwd"
                                               matTooltipPosition="below">
                                                info
                                            </i>
                                            <i class="material-icons  green-check-circle"
                                               *ngIf="!showErrorMsg.confirmPassword?.errors">
                                                check_circle
                                            </i>
                                        </span>
                <div *ngIf="isValidated && showErrorMsg.confirmPassword?.errors && errorMsg" class="worningMsg" (click)="hideErrorMsg()">
                  <mat-hint *ngIf="showErrorMsg.confirmPassword.errors.required">Mot de passe obligatoire
                  </mat-hint>
                  <mat-hint *ngIf="showErrorMsg.confirmPassword.errors.mustMatch">unmuched pwd
                  </mat-hint>
                </div>

              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Enregistrer</button>
              <div class="bottom">
                <span class="helper-text">Connaissez votre mot de passe?<a routerLink="/login">Connexion</a></span>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

